<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="1.1.1" targetFramework="monoandroid50" />
  <package id="Acr.UserDialogs" version="4.3.4" targetFramework="monoandroid50" />
  <package id="MvvmCross" version="4.0.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Droid.FullFragging" version="4.0.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Droid.Support.Design" version="4.0.1" targetFramework="monoandroid50" />
  <package id="MvvmCross.Droid.Support.V14.Preference" version="4.0.1" targetFramework="monoandroid50" />
  <package id="MvvmCross.Droid.Support.V4" version="4.0.1" targetFramework="monoandroid50" />
  <package id="MvvmCross.Droid.Support.V7.AppCompat" version="4.0.2" targetFramework="monoandroid50" />
  <package id="MvvmCross.Droid.Support.V7.Fragging" version="4.0.1" targetFramework="monoandroid50" />
  <package id="MvvmCross.Droid.Support.V7.Preference" version="4.0.1" targetFramework="monoandroid50" />
  <package id="MvvmCross.Droid.Support.V7.RecyclerView" version="4.0.1" targetFramework="monoandroid50" />
  <package id="MvvmCross.Platform" version="4.0.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Plugin.DownloadCache" version="4.0.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Plugin.File" version="4.0.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Plugin.Json" version="4.0.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Plugin.Share" version="4.0.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Plugin.Visibility" version="4.0.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="monoandroid5" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="monoandroid50" />
  <package id="Splat" version="1.6.2" targetFramework="monoandroid50" />
  <package id="TagLib.Portable" version="1.0.4" targetFramework="monoandroid50" />
  <package id="Xam.Plugins.Android.ExoPlayer" version="1.5.6" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.Design" version="23.1.1.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v14.Preference" version="23.1.1.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.1.1.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.GridLayout" version="23.1.1.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.Preference" version="23.1.1.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.1.1.1" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Ads" version="29.0.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Analytics" version="29.0.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.AppIndexing" version="29.0.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Smaato" version="1.0.1" targetFramework="monoandroid50" />
</packages>