<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="4.3.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross" version="4.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Platform" version="4.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.Share" version="4.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.Visibility" version="4.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wpa81" />
</packages>